body {
  background-color: #007bff;
}

#sticky-footer {
  flex-shrink: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;

}

.container
{
    margin-top: 25px;
    color: white;
    margin-bottom: 50px;
}

.home-container
 {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 100%;
    height: 150px;
}

.btn
{
    padding: 10px 24px!important;
    -webkit-border-radius: 30px;
}